$slate900: rgb(15 23 42);
$slate700: rgb(51 65 85);
$slate300: rgb(203 213 225);
$slate100: rgb(241 245 249);

$gray900: rgb(17 24 39);
$gray500: rgb(107 114 128);
$gray400: rgb(156 163 175);
$gray200: rgb(229 231 235);

$blue500: rgb(99, 126, 170);
$blue300: rgb(147 197 253);

$sky800: rgb(7 89 133);
$sky900-70: rgb(12 74 110 / 0.7);

$white: rgb(255, 255, 255);

$red600: rgb(220 38 38);
$red800: rgb(153 27 27);
$red900: rgb(127 29 29);

$box-shadow-slate-900-50: 0px 10px 15px -3px rgb(15 23 42 / 0.5), 0px 4px 6px -4px rgb(15 23 42 / 0.5);
$box-shadow-slate-500-50: 0px 10px 15px -3px rgb(100 116 139 / 0.5), 0px 4px 6px -4px rgb(100 116 139 / 0.5);
$box-shadow-slate-400-50: 0px 4px 6px -1px rgb(148 163 184 / 0.5), 0 2px 4px -2px rgb(148 163 184 / 0.5);
$box-shadow-slate-300-50: 0px 4px 6px -1px rgb(203 213 225 / 0.5), 0 2px 4px -2px rgb(203 213 225 / 0.5);
$box-shadow-slate-600-40: 0px 10px 15px -3px rgb(0 0 0 / 0.1), 0px 4px 6px -4px rgb(0 0 0 / 0.1);
$box-shadow-slate-600-30: 0px 15px 20px -5px rgb(71 85 105 / 0.3), 0px 8px 10px -6px rgb(71 85 105 / 0.3);

$box-shadow-blue300-50: 0px 4px 6px -1px rgb(147 197 253 / 0.5), 0 2px 4px -2px rgb(147 197 253 / 0.5);
$box-shadow-blue400-50: 0px 10px 15px -3px rgb(96 165 250 / 0.5), 0px 4px 6px -4px rgb(96 165 250 / 0.5);