:root {
   --typography-h1: 78px;
   --typography-h2: 64px;
   --typography-h3: 30px;
   --typography-h4: 26px;
   --typography-h5: 22px;
   --typography-h6: 20px;
   --typography-subtitle1: 24px;
   --typography-subtitle2: 22px;
   --typography-body1: 20px;
   --typography-body2: 18px;
   --typography-body3: 16px;
   @media (max-width: 1024px) {
      --typography-h1: 32px;
      --typography-h2: 28px;
      --typography-h3: 24px;
      --typography-h4: 20px;
      --typography-h5: 20px;
      --typography-h6: 18px;
      --typography-subtitle1: 22px;
      --typography-subtitle2: 20px;
   }
}
