.feedback-mail,
.phone,
.delivery {
  @apply relative transition-all after:inline-block ease-in duration-300 
  after:h-[15px] items-center after:w-[20px] after:absolute after:translate-x-2 after:translate-y-0.5
  before:absolute before:content-[''] before:w-0 before:hover:w-full before:hover:h-px before:hover:bg-slate-700 
   before:left-0 before:bottom-0 before:transition-all before:hover:transition-all before:hover:duration-300 before:hover:ease-in before:duration-300 before:ease-in;
}
.feedback-mail {
  &::after {
    top: 3px;
    background: url(../../../../assets/icons/mail.svg) center no-repeat;
  }
}
.phone {
  &::after {
    top: 3px;
    background: url(../../../../assets/icons/phone.svg) center no-repeat;
  }
}
.delivery {
  &::after {
    top: 3px;
    background: url(./../../../../assets/icons/delivery.svg) center no-repeat;
  }
}
