.icon-wrapper {
  position: relative;
  align-self: center;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;

  & svg {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    right: 6px;
  }
}

.no svg {
  fill: black;
  width: 25px;
  height: 25px;
}

.active svg {
  fill: red;
  width: 25px;
  height: 25px;
}