@use "../../styles/shared.scss" as color;
@use "../../styles/mixin.scss" as mixin;

.product-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: color.$box-shadow-slate-300-50;

  &:hover {
    border: 1px solid color.$white;
    box-shadow: color.$box-shadow-slate-600-30;
  }
}

// .product-image {
//   height: 6rem;
//   width: 100%;
//   object-fit: cover;
// }

details summary::-webkit-details-marker {
  display: none;
}

details>summary {
  list-style-type: none;
  // @apply list-none;
}

summary {
  padding: 0.5rem 1.5rem;
  // @apply py-2 px-6 bg-teal-600/50 rounded-md;
}