@use "../../styles//mixin.scss" as mixin;

.product_page {
   width: 100%;
   margin: 0 auto;
   padding: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 25px;

   @include mixin.tablet {
      padding: 1rem;
   }
}